.gif{
    width: 200px;
}

.gifImages{
    width: 300px;
}

button{
    margin-right: 5px;
}

#gifDiv{
    float: left;
    display: inline;
}

#favorites{
    /* border: 1px solid black; */
    height: 800px;
    width: 350px;
}

.gifFav{
    width:100px;
}